<!-- header.component.html -->
<div class="header">
  <a [routerLink]="'/home'" class="logo">Clusters - <strong>Telco</strong> Customer <strong>Churn</strong></a>
  <div class="header-right">
    <a [routerLink]="'/informacoes'">Informações</a>
  </div>
</div>

<!--<div class="stars">
<div class="star"></div>
<div class="star"></div>
<div class="star"></div>
<div class="star"></div>
<div class="star"></div>
<div class="star"></div>
<div class="star"></div>
<div class="star"></div>
<div class="star"></div>
<div class="star"></div>
<div class="star"></div>
<div class="star"></div>
</div>-->

